<!DOCTYPE html>
<html>
  <head>
    <title>Worthy Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="m-3 text-center">
      <%= image_tag "worthy_logo.svg", style: "width:30rem" %>
    </header>
    <%= yield %>
  </body>
</html>
